<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="../../resources/img/qtc-logo-black.png" type="image/png"/>
    <title>The Best IT Training Center - 100+ Courses | QTCenter.com</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../resources/css/flaticon.css"/>
    <link rel="stylesheet" href="../../resources/css/themify-icons.css"/>
    <link rel="stylesheet" href="../../resources/vendors/owl-carousel/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../../resources/vendors/nice-select/css/nice-select.css"/>
    <link rel="stylesheet" href="../../resources/css/header.css"/>
    <!-- main css -->
    <link rel="stylesheet" href="../../resources/css/style.css"/>
</head>
<body>
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2 style="color: #fdc632">Contact Us</h2>
                        <div class="page_link">
                            <a href="/home">Home</a>
                            <a href="/contact-us">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <div id="map" class="mapBox">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4820413609013!2d106.79613801474457!3d10.850893760782052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527374c43baad%3A0xb8b244d75d12213e!2zRlBUIFNvZnR3YXJlIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1679225396404!5m2!1svi!2s"
                    width="100%" height="420" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="ti-home"></i>
                        <h6>Ho Chi Minh, VietNam</h6>
                        <p>Tan Phu Ward, District 9</p>
                    </div>
                    <div class="info_item">
                        <i class="ti-headphone"></i>
                        <h6><a href="#">(+84) 936 999 999</a></h6>
                        <p>Mon to Sat 8:00am to 5:30pm</p>
                    </div>
                    <div class="info_item">
                        <i class="ti-email"></i>
                        <h6><a href="#">support@fa.edu.vn</a></h6>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <form
                        class="row contact_form"
                        action="contact_process.php"
                        method="post"
                        id="contactForm"
                        novalidate="novalidate"
                >
                    <div class="col-md-6">
                        <div class="form-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    name="name"
                                    placeholder="Enter your name"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter your name'"
                                    required=""
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Enter email address"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email address'"
                                    required=""
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="subject"
                                    name="subject"
                                    placeholder="Enter Subject"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter Subject'"
                                    required=""
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                  <textarea
                          class="form-control"
                          name="message"
                          id="message"
                          rows="1"
                          placeholder="Enter Message"
                          onfocus="this.placeholder = ''"
                          onblur="this.placeholder = 'Enter Message'"
                          required=""
                  ></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <a type="submit" value="submit" class="btn primary-btn text-white">
                            Send Message
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->
<footer th:replace="../thymeleaf/footer :: footer"></footer>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/js/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/popper.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="../../resources/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../../resources/js/owl-carousel-thumb.min.js"></script>
<script src="../../resources/js/jquery.ajaxchimp.min.js"></script>
<script src="../../resources/js/mail-script.js"></script>
<script src="../../resources/js/login.btn.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../../resources/js/gmaps.min.js"></script>
<script src="../../resources/js/theme.js"></script>
</html>