<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="../../resources/img/qtc-logo-black.png" type="image/png" />
    <title>The Best IT Training Center - 100+ Courses | QTCenter.com</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.css" />
    <link rel="stylesheet" href="../../resources/css/flaticon.css" />
    <link rel="stylesheet" href="../../resources/css/themify-icons.css" />
    <link rel="stylesheet" href="../../resources/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../resources/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="../../resources/css/header.css" />
    <!-- main css -->
    <link rel="stylesheet" href="../../resources/css/style.css" />
    <link rel="stylesheet" href="../../resources/css/history-booking.css"/>
</head>
<body>
<header th:replace="../thymeleaf/header-white :: header-white"></header>
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="banner_content text-center">
                        <h2 style="color: #fdc632; margin: 0 auto;">History Booking</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<div class="container">
    <div>
        <div class="order-container">
            <!--order-->
            <div class="order-item" th:each="order: ${orders}">
                <div th:with="result=0">
                    <script th:inline="javascript">  /*<![CDATA[*/
                        var total = 0;
                        /*]]>*/
                    </script>
                    <div class="order-item-header">
                        <span class="status"><i class="fa-solid fa-money-bills"></i>Pay Successful</span>
                        <span class="status"><i class="fa-solid fa-calendar-days"></i>
                        <span th:text="${#dates.format(order.buyDate, 'dd-MM-yyyy')}"></span></span>
                    </div>
                    <div class="order-item-info" th:each="item: ${order.orderDetails}">
                        <div>
                            <div class="product">
                                <div class="detail">
                                    <img class="product-img" th:src="${item.course.imageUrl}" alt=""/>
                                    <div class="product-info">
                                        <a href="#" class="product-name" th:text="${item.course.courseName}">Course
                                            Name</a>
                                        <div class="store"><a th:text="${item.course.teacher.fullname}" href="#"></a>
                                        </div>
                                        <div class="product-review">
                                            <span>Chatting</span>
                                            <span>Feedback</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="price" th:text="${item.getTuitionFeeFormat()}"></div>
                            </div>
                        </div>
                        <script th:inline="javascript">/*<![CDATA[*/
                        total += /*[[${item.price}]]*/;
                        /*]]>*/
                        </script>
                    </div>
                    <!--end product-->
                    <div class="total-price">
                        <div class="total-order">
                            <div class="total-title">Total price</div>
                            <div th:id="|a${order.id}|" class="total-price"></div>
                            <script th:inline="javascript">/*<![CDATA[*/
                            var a = document.querySelector('#a'+ /*[[${order.id}]]*/);
                            a.innerHTML = total;
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="../thymeleaf/footer :: footer"></footer>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/js/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/popper.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="../../resources/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../../resources/js/owl-carousel-thumb.min.js"></script>
<script src="../../resources/js/jquery.ajaxchimp.min.js"></script>
<script src="../../resources/js/mail-script.js"></script>
<script src="../../resources/js/login.btn.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../../resources/js/gmaps.min.js"></script>
<script src="../../resources/js/theme.js"></script>
<script src="../../resources/js/history-booking.js"></script>
</html>