<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--    <link rel="icon" href="../../resources/img/qtc-logo-black.png" type="image/png"/>-->
    <title>The Best IT Training Center - 100+ Courses | QTCenter.com</title>
    <!--    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E-->
    <!--        <link rel=" preconnect-->
    <!--    " href="https://fonts.gstatic.com/" crossorigin>-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/330a21053c.js" crossorigin="anonymous"></script>
    <!-- main css -->
    <link rel="stylesheet" href="../../resources/css/history-booking.css"/>
</head>
<body>
<div class="container">
    <h1 class="title">History Booking</h1>
    <div>
        <div class="order-container">
            <!--order-->
            <div class="order-item" th:each="order: ${orders}">
                <div th:with="result=0">
                    <script th:inline="javascript">  /*<![CDATA[*/
                        var total = 0;
                        /*]]>*/
                    </script>
                    <div class="order-item-header">
                        <span class="status"><i class="fa-solid fa-money-bills"></i>Pay Successful</span>
                        <span class="status"><i class="fa-solid fa-calendar-days"></i>
                        <span th:text="${#dates.format(order.buyDate, 'dd-MM-yyyy')}"></span></span>
                    </div>
                    <div class="order-item-info" th:each="item: ${order.orderDetails}">
                        <div>
                            <div class="product">
                                <div class="detail">
                                    <img class="product-img" th:src="${item.course.imageUrl}" alt=""/>
                                    <div class="product-info">
                                        <a href="#" class="product-name" th:text="${item.course.courseName}">Course
                                            Name</a>
                                        <div class="store"><a th:text="${item.course.teacher.fullname}" href="#"></a>
                                        </div>
                                        <div class="product-review">
                                            <span>Chatting</span>
                                            <span>Feedback</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="price" th:text="${item.getTuitionFeeFormat()}"></div>
                            </div>
                        </div>
                        <script th:inline="javascript">/*<![CDATA[*/
                        total += /*[[${item.price}]]*/;
                        /*]]>*/
                        </script>
                    </div>
                    <div class="btn-more"><p>Show more</p></div>
                    <!--end product-->
                    <div class="total-price">
                        <div class="total-order">
                            <div class="total-title">Total price</div>
                            <div th:id="|a${order.id}|" class="total-price"></div>
                            <script th:inline="javascript">/*<![CDATA[*/
                            var a = document.querySelector('#a'+ /*[[${order.id}]]*/);
                            a.innerHTML = total;
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../resources/js/history-booking.js"></script>
</html>